*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(63, 49, 49, 0.486);
    border: none;
}
#home-section{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: rgba(63, 49, 49, 0.486)
}
#edit-section{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: rgba(63, 49, 49, 0.486)}
h1{
    color: rgb(8, 70, 8);
    text-align: center;
    border-bottom:2px solid rgb(8, 70, 8);
}
form{
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.374);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 70%;
    gap: 20px;
}
input{
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
}
select{
    width: 90%;
    border-radius: 8px;
    border: none;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
}
button{
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    width:80% ;
}
table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
#edit-section button{
    cursor: pointer;
    background-color: green;
    color: white;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width:80% ;
}